body {
    background-color: #FFFAFA
    /*background-image: url(../prac/images/bg.jpg); */
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}

/* header section */
header {
    /* color: aliceblue; */
    padding: 75px;
    background-color: #17252A;
    margin: -20px;
    border: solid;
    border-color: #2B7A78;
    width: 100%;
    height: 30px;
}
.logo-section img {
    width: 200px;
    height: 200px;
    float: left;
    margin-left: -94px;
    margin-top: -89px;
    margin-bottom: 98px;
    margin-right: 99px;
    /* text-shadow: 17px -2px black; */
}


nav {
    float: right;
    font-size: 31px;
    margin-top: 63px;
    margin-right: 161px;
}

a {
    color: #FEFFFF;
    text-decoration: none;
    margin-left: 50px;
}
img {
    width: 100%;
}
.container {
    width: 1600px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    margin-right: 110px;
    margin-top: 100px;
    font-style: sans serif;
    font-size: 75px;
    /* border: 1px; */
    border-style: solid;
    border-color: #2b7a78;
    color: #143137;
}

.banner-section img {
    width: 100%;
    height: 20%;
}


/* about section */

section.about-section {
    padding: 7px 0 208px;
    border-bottom: 1px solid #d2cfcf;
}

h2.title {
    text-align: center;
    font-size: 64px;
    text-transform: uppercase;
}

.about-div-left{
    width: 57%;
    display: inline-block;
}
.about-div-right {
    width: 20%;
    float: right;
    clear: both;
}
/*Service Section */
.service-section title {
    text-align: center;
}
section.service-section{
    padding: 56px 0 42px;
}

.services-section-div {
    width: 33%;
    display: inline-block;
    text-align: center;
    font-size: 19px;
    line-height: 29px;
}
i.fas.fa-american-sign-language-interpreting {
    color: #1063ab;
}
i.fas.fa-ambulance {
    color: #bf1c00;
}
i.fab.fa-adobe {
    color: #15635c;
}
a.service-button {
    text-decoration: none;
    color: #e02809;
}
a.service-button:hover {
    color: #15635c;
}
i.fas.fa-arrow-right {
    margin-top: 6px;
    position: absolute;
    margin-left: 5px;
    color: #e54a20;
}